<div id="data-attribute" 
    data-current-page = '<%= currentPage %>'
    data-total-page = '<%= totalPage %>'
    data-total-item = '<%= totalItem %>'
    data-total-item-per-page = '<%= totalItemPerPage %>'
    data-page-limit = '<%= PAGE_LIMIT %>'
></div>

<table class="category-table table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                <i class="sortable" data-sort="TenTL" >Tên thể loại </i>
            </th>
            <th>
                <i class="sortable" data-sort="MoTa" >Mô tả</i>
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>

        <% if (categories.length> 0) { %>

            <% categories.forEach((category, index)=> { %>

                <tr data-id="<%= category.MaTL %>">
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td class="name">
                        <%= category.TenTL %>
                    </td>
                    <td class="desc">
                        <%= category.MoTa %>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info me-2 btn-show-update-category">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button class="btn btn-sm btn-danger btn-delete-category">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            <% }) %>

        <% } else { %>

            <tr class="no-data">
                <td colspan="4" class="text-center">
                    Không có dữ liệu...
                </td>
            </tr>

        <% } %>

    </tbody>
</table>


<style>
    /**
    * Tạo icon cho cột cần sort
    */

    th i.sortable {
        font-style: normal;
        position: relative; 
        cursor: pointer;
        padding-right: 25px; 
    }

    /* 3. Icon cho trạng thái MẶC ĐỊNH */
    th i.sortable::after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        content: "\f0dc"; /* Unicode cho fa-sort (biểu tượng mặc định) */
        color: #ccc;
        
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* 3. Icon cho trạng thái SẮP XẾP TĂNG DẦN (ASC) */
    th i.sortable[data-order="asc"]::after {
        content: "\f0de"; /* Unicode cho fa-sort-up */
        color: #333; 
    }

    /* 4. Icon cho trạng thái SẮP XẾP GIẢM DẦN (DESC) */
    th i.sortable[data-order="desc"]::after {
        content: "\f0dd"; /* Unicode cho fa-sort-down */
        color: #333; 
    }
</style>