<% 
    const TRANG_THAI = {
        'CHO_XAC_NHAN': 'Chờ xác nhận',
        'DANG_CHUAN_BI_HANG': 'Đang chuẩn bị hàng',
        'DA_GIAO_CHO_DON_VI_VAN_CHUYEN': 'Đã giao cho đơn vị vận chuyển',
    }

    const HINH_THUC_THANH_TOAN = {
        'COD': 'Thanh toán khi nhận hàng',
        'MOMO': 'Thanh toán qua momo'
    }

    const getPrice = (price) => {
        const numericPrice = Number(price);

        if (isNaN(numericPrice)) {
            return '0 ₫';
        }

        const formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
            minimumFractionDigits: 0, 
        });

        return formatter.format(numericPrice);
    }

    const getTime7 = (time) => {
        return time.toLocaleString('vi-VN', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: false
        })
    }
%>

<div id="data-attribute"     data-current-page="<%= currentPage %>"     data-total-page="<%= totalPage %>"    
    data-total-item="<%= totalItem %>"     data-total-item-per-page="<%= totalItemPerPage %>"    
    data-page-limit="<%= PAGE_LIMIT %>"></div>

<div class="table-responsive-wrapper">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Số điện thoại KH</th>
                <th>Ngày đặt</th>
                <th>Tổng tiền</th>
                <th>Hình thức thanh toán</th>
                <th>Trạng thái</th>
                <th class="text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>

            <% if (orders.length> 0) { %>

                <% orders.forEach((order)=> { %>

                    <tr data-id="<%= order.MaDH %>" data-status="<%= order.TrangThai %>">
                        <td>
                            <%= order.MaDH %>
                        </td>
                        <td>
                            <%= order.SDT %>
                        </td>
                        <td class="text-muted">
                            <%= getTime7(order.NgayDat) %>
                        </td>
                        <td class="text-muted">
                            <%= getPrice(order.TongTien) %> 
                        </td>
                        <td class="text-muted">
                            <%= HINH_THUC_THANH_TOAN[order.HinhThucThanhToan] %> 
                        </td>
                        <td class="text-muted">
                            <%= TRANG_THAI[order.TrangThai] %> 
                        </td>
                        <td class="action-col text-center">
                            <button class="btn-show-details btn action-btn edit-btn" title="Cập nhật">
                                <i class="fa-regular fa-pen-to-square"></i> 
                            </button>
                            <button class="btn-delete-entity btn action-btn delete-btn" title="Xóa">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <% }) %>
                        <% } else { %>

                            <tr class="no-data">
                                <td colspan="7" class="text-center py-4">
                                    Không có dữ liệu...
                                </td>
                            </tr>

                            <% } %>
        </tbody>
    </table>
</div>
